<template>
  <div class="academy">
    <TimeLineAcademy></TimeLineAcademy>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import TimeLineAcademy from "@/components/TimeLineAcademy.vue";
@Component({ components: { TimeLineAcademy } })
export default class AcademyView extends Vue {}
</script>
