<template>
  <div class="mb-5 employment">
    <JobComp
      :class="`animated fadeInUp delay-${index}s`"
      v-for="(employ, index) in jobs"
      v-bind:key="employ.description"
      :title="employ.title"
      :description="employ.description"
      :image="employ.image"
      :company="employ.company"
      :date="{ start: employ.dateStart, end: employ.dateEnd } | convertTime"
    ></JobComp>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { COMPETENCES, JOBS } from "@/config";
import JobComp from "@/components/Job.vue";
import i18n from "@/plugins/i18n";
@Component({
  components: { JobComp },
  filters: {
    convertTime({ start, end }: { start: Date; end: Date }) {
      return `${i18n.d(start, "short")} - ${i18n.d(end, "short")}`;
    },
  },
})
export default class JobsView extends Vue {
  jobs = JOBS;
}
</script>
