<template>
  <div class="mb-5">
    <ProjectComp
      :class="`animated fadeInUp delay-${index}s`"
      v-for="(proyect, index) in proyects"
      v-bind:key="proyect.title"
      :title="proyect.title"
      :code="proyect.code"
      :description="proyect.description"
      :links="proyect.links"
      :chips="proyect.chips"
    ></ProjectComp>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import ProjectComp from "@/components/Project.vue";

import { PROYECTS } from "@/config";
@Component({ components: { ProjectComp } })
export default class ProjectsView extends Vue {
  proyects = PROYECTS;
}
</script>
