<template>
  <v-card class="ma-2">
    <v-card-title primary-title>
      <div class="mb-2" style="width: 100%">
        <v-layout class="mb-3" justify-space-between>
          <v-flex xs12 sm10 class="headline mb-2">{{ title }}</v-flex>
          <v-flex xs12 sm2 class="pr-10" style="text-align: right">
            <v-btn small outline round @click="open(code)">
              Code
              <v-icon>code</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
        <div>{{ $t(description) }}</div>
        <h4 class="subtitle mt-2 mb-1">Enlaces</h4>
        <div v-for="link in links" v-bind:key="link.url">
          <a target="_blank" :href="link.url">{{ link.title }}</a>
        </div>
      </div>
      <div>
        <v-chip
          class="ma-2"
          v-for="chip in chips"
          v-bind:key="chip.url"
          @click="open(chip.url)"
          >{{ chip.title }}</v-chip
        >
      </div>
    </v-card-title>
  </v-card>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { UrlTitleModel } from "@/models";
@Component({})
export default class ProjectComp extends Vue {
  @Prop(String) readonly title: string;
  @Prop(String) readonly description: string;
  @Prop(String) readonly code: string;
  @Prop(Object) readonly chips: UrlTitleModel[];
  @Prop(Object) readonly links: UrlTitleModel[];
  open(url: string) {
    window.open(url);
  }
}
</script>

<style lang="scss">
.v-chip__content {
  cursor: pointer !important;
}
</style>
