<template>
  <v-layout align-start justify-center row fill-height>
    <v-timeline class="mx-2">
      <v-timeline-item
        v-for="(year, i) in years"
        :key="i"
        :color="year.color"
        small
      >
        <span
          slot="opposite"
          :class="`headline font-weight-bold ${year.color}--text`"
          v-text="year.year"
        ></span>
        <div class="py-3">
          <h2 :class="`headline font-weight-light mb-3 ${year.color}--text`">
            {{ $t(year.name) }}
          </h2>
          <div>{{ $t(year.school) }}</div>
        </div>
      </v-timeline-item>
    </v-timeline>
  </v-layout>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { YEARS } from "@/config";
import { YearModel } from "@/models";
@Component({})
export default class ProjectComp extends Vue {
  years = YEARS;
}
</script>
